@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #000; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 90px; 
  z-index: 1000; /* Ensure it stays on top of other content */
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px; /* Padding around the navbar */
}

.nav-container {
  max-width: 940px; 
  width: 100%; 
  margin: 0 auto; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;/* Center items vertically */
}

.nav-brand {
    display: flex;
    vertical-align: middle;
    max-width: 200px; /* Adjust the max width of the logo */
    justify-content: flex-start;
    align-items: center;
}

.nav-brand img {
    width: 40%;
    height: auto;
    justify-items: flex-start;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.nav-link {
  color: #fff; 
  text-decoration: none; /* No underline on the links */
  padding: 5px 10px; 
  transition: color 0.3s; 
}

.nav-link:hover {
  color: #1DB954; 
}

.nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #000;
  }


/* Showcase/Hero Section */
.showcase {
    background-image: url('../img/Spotify-on-phone.jpeg'); 
    background-size: cover;
    background-position: center center;
    height: 100vh; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    text-align: left; 
    position: relative; 
    padding-top: 80px; 
    padding-left: 80px; 
}

.showcase::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #0004, #0000); 
}
.showcase h1 {
    position: relative;
    color: #fff;
    font-size: 4em;
    z-index: 10;
}

.showcase p {
    position: relative;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 2em;
    z-index: 10;
}

.showcase .btn {
    position: relative;
    background-color: #1ED760;
    color: #000;
    padding: 1em 2em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px; 
    z-index: 10;
    transition: background-color 0.3s ease;
}

.showcase .btn:hover {
    background-color: #fff; 
}

.showcase-content {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.868);
    padding: 40px;
} 

/* Things We Do Section Styles */
.combined-section {
    background-color: #000; 
    padding: 70px 0px;
}

.text-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Spacing between text and image sections */
}

.statistics-section {
    flex: 1;
    padding-right: 20px;
}

.statistics-section h2 {
    font-size: 2em;
    color: #1DB954; 
    font-size: 40px;
    padding-left: 100px;
    padding-right: 50px;
}

.statistics-section p{
    font-size: 20px;
    padding-top: 30px;
    padding-left: 100px;
}

.questions-content {
    padding-top: 50px;
    flex: 1;
    padding-left: 20px;
    font-size: 22px;
}

.questions-content .question,
.questions-content .comment {
    font-size: 1em;
    color: #fff; 
    margin-bottom: 1em;
}

.questions-content .comment {
    font-style: italic;
    color: #1DB954;     
}

.image-section {
    text-align: center; 
}

.image-section img {
    max-width: 25%; /* Adjust the size of the image to be smaller */
    height: auto;
    background-color: #000; 
}

/* General Section Styles */
.section-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 50px 0; 
}

/* How This Works Section Styles */
.how-this-works {
    flex: 2; 
    align-items: flex-start;
    padding-right: 10px; /* Space between the text and the image */
}

.how-this-works h2 {
    color: #1DB954; 
    padding-left: 300px;
    font-size: 40px;
}

.how-this-works ul {
    list-style-type: none; 
    padding: 0; 
    padding-top: 20px;
    color: #000; 
    font-size: 22px;
    padding-left: 300px;
}

.how-this-works ul li {
    padding-bottom: 20px; /* Space between list items */
}

.how-this-works ul li i {
    margin-right: 30px; 
}

/* Image Section Styles */
.image-right {
    flex: 1.5; 
    padding-right: 50px;
}

.image-right img {
    width: 100%; 
    height: auto; 
    
}

/* Steps to Follow Styles */
.features {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px; 
    padding: 20px 0; 
    padding-top: 50px;
}

.features article {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.features .image img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    margin-bottom: 15px; 
}

.features .inner {
    padding: 10px; 
}

.features .inner h4 {
    font-size: 40px;
    padding-top: 10px;
}

.features .inner p {
    font-size: 25px;
    color: #000; 
    padding-top: 40px;
}

.features i {
    color: #1DB954;
    font-size: 3em;
}

/* Statistics Section Styles */
.statistics-section {
    padding: 50px 0; 
    background-color: #000; 
    color: #fff; 
}

.statistics-section h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-size: 40px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 20px;
}

.tab-links {
    background-color: #1ED760;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-links:hover, .tab-links.active {
    background-color: #17c950;
}

.tab-content {
    display: none; /* Hide all tab content by default */
    padding-top: 50px;
    padding-bottom: 50px;
}

.tab-content h2 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 50px;
}

.tab-content.active {
    display: block; /* Show active tab content */
}

.content-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-left, .content-right {
    flex-basis: 48%; /* Adjust this value as needed */
    padding-left: 60px;
}

.content-left {
    font-size: 25px;
}

.content-right img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure images are block level for proper spacing */
}

/* Flex Container Styles */
.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 150px; 
    background-color: #fff; 
    color: #000; 
    padding-top: 30px;
}

.left-box, .search {
    flex: 1; /* Adjust as needed for sizing */
    padding: 20px; /* Adjust as needed */
}

/* Let's Explore section styles */
.body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.search {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search label {
    font-size: 30px;
    color: #000;
}

.search form {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.search h2, .left-box h2 {
    color: #1ED760;
    margin-bottom: 20px;
    font-size: 35px;
}

.search input[type="text"] {
    width: 30%; 
    padding: 12px 20px; 
    font-size: 18px;
    margin-right: 10px; 
    border: 2px solid #ddd; 
    border-radius: 4px; 
}

.search input[type="search"], .search button {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px 0; 
}

.search input[type="search"] {
    border: none;
    color: #333;
    background-color: #fff;
}

.search button {
    border: none;
    background-color: #1ED760;
    color: #fff;
    cursor: pointer;
}

.search button:hover {
    background-color: #17c950;
}

/* Result.html Styles */
.results {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 25px;
    color: #1ED760;
    padding: 20px 0;
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.container h1 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    color: #1ED760;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.album-card {
    background-color: #88888889;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    max-width: 200px; 
    padding-bottom: 15px;
}

.album-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 180px; 
    border-radius: 10px; 
    margin-top: 15px;
}

.card-body {
    padding: 15px;
    text-align: center;
    color: #fff;
    justify-content: space-between;
    height: 100%;
}

.card-title, .card-text, .text-muted {
    margin: 5px 0;
}

.card-title {
    font-size: 20px; 
}

.card-text {
    font-size: 14px; 
}

.text-muted {
    font-size: 12px; 
    color: #888;
    font-style: italic;
}

audio {
    width: 100%;
    max-width: 250px; 
    margin: auto; 
}

/* Back to Home */
.b-home {
    background-color: #000;
    padding: 50px;
}

.btn-back {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #1ED760; 
    color: #000; 
    text-decoration: none; 
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
    justify-content: center;
}

.btn-back:hover {
    background-color: #17a64a; 
}

/* Footer */
footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #141414;
    height: 190px;
    padding: 20px 50px;
    flex-direction: column;
}

footer .icons,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icons li,
footer .menu li {
    list-style: none;
}

footer .icons li a {
    font-size: 2em;
    color: #1ED760;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .icons li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2 rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
}

footer .menu li a:hover {
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1em;
    opacity: 0.75;
}

/* Floating Button Style */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1DB954;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

.floating-btn:hover {
    background-color: #17a64a; /* Darker shade for hover */
}

/* Recommendation Popup Styles */
.recommendation-popup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.popup-content {
    background-image: url('../img/TeamRecommendation-bground.png'); 
    background-size: cover;
    background-position: top center;
    margin: 30% auto; 
    padding: 20px 30px;
    padding-top: 250px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    font-size: 24px; 
}

.popup-content .text-center {
    margin-bottom: 20px;
    font-size: 40px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

/* Team Member's Github Icons and Recommendations Buttons */
.member-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px; 
    margin-bottom: 20px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

/* Style for the member's Recommendations */

.team-recommendations {
    color: #fff;
}

/* Style for the GitHub icons */
.member i.fa-brands {
    font-size: 80px; 
    color: #4CAF50; 
    padding-top: 10px; 
}

/* Style for the buttons */
.member .btn-list {
    font-size: 18px; 
    color: white;
    background-color: #333; 
    padding: 12px 24px; 
    border-radius: 5px; 
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btn-list:hover {
    background-color: #45a049;
}

.gia-image-placeholder {
    width: 200px; 
    height: 200px; 
    background-image: url('../img/Gia.png'); 
    background-size: cover;
    margin: 70px auto; 
}

.julia-image-placeholder {
    width: 200px; 
    height: 200px; 
    background-image: url('../img/Julia.png'); 
    background-size: cover;
    margin: 70px auto; 
}

.christophe-image-placeholder {
    width: 200px; 
    height: 200px; 
    background-image: url('../img/Christophe.png'); 
    background-size: cover;
    margin: 70px auto; 
}

.joe-image-placeholder {
    width: 200px; 
    height: 200px; 
    background-image: url('../img/Joe.png'); 
    background-size: cover;
    margin: 70px auto; 
}

.minh-image-placeholder {
    width: 200px; 
    height: 200px; 
    background-image: url('../img/Minh.png'); 
    background-size: cover;
    margin: 70px auto; 
}

.wrapped-content {
    background-image: url('../img/wrapped\ background.jpeg');
    background-size: cover;
    background-position: top center;
    margin: auto;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    display: none; 
}

.wrapped-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrapped-left-column,
.wrapped-right-column {
    flex-basis: 48%;
    list-style-type: none;
}

.wrapped-left-column h3,
.wrapped-right-column h3 {
    padding-bottom: 30px;
}

.wrapped-left-column ul,
.wrapped-right-column ul {
    padding-left: 0;
}

.wrapped-left-column ul li,
.wrapped-right-column ul li{
    margin-bottom: 20px;
    list-style: none;
    padding-left: 50px;
    text-align: left;
}

.wrapped-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    opacity: 0.8;
}

/* Show the content when it's active */
.show-wrapped {
    display: block;
}

/* Media Queries */
@media (max-width: 991px) {
    .container {
        padding: 20px;
    }

    .hamburger-menu {
        display: block; 
        cursor: pointer;
      }
    
      .nav-menu {
        position: absolute;
        right: 0;
        top: 60px; 
        flex-direction: column; 
        background-color: #000; 
        width: 100%; 
        display: none; 
      }
    
      .nav-menu.active {
        display: flex; 
      }
}

@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        margin: 10px 0;
    }
    .showcase {
        padding: 80px 20px;
    }
    .showcase h1 {
        font-size: 2rem;
    }

    .statistics-section {
        flex-direction: column;
    }

    .statistics-content, .questions-content {
        margin: 20px 0; 
    }
}



