@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #000; /* Black background color */
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  height: 90px; /* Height of the navbar */
  z-index: 1000; /* Ensure it stays on top of other content */
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px; /* Padding around the navbar */
}

.nav-container {
  max-width: 940px; /* Max width of the content within the navbar */
  width: 100%; /* Take up the full width of the navbar */
  margin: 0 auto; /* Center the navbar content */
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;/* Center items vertically */
}

.nav-brand {
    display: flex;
    vertical-align: middle;
    max-width: 200px; /* Adjust the max width of the logo */
    justify-content: flex-start;
    align-items: center;
}

.nav-brand img {
    width: 40%;
    height: auto;
    justify-items: flex-start;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.nav-link {
  color: #fff; /* White color text for the links */
  text-decoration: none; /* No underline on the links */
  padding: 5px 10px; /* Padding around the links for a better click area */
  transition: color 0.3s; /* Transition for the hover effect */
}

.nav-link:hover {
  color: #1DB954; 
}

.nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #000;
  }


/* Showcase/Hero Section */
.showcase {
    background-image: url('../img/Spotify-on-phone.jpeg'); 
    background-size: cover;
    background-position: center center;
    height: 100vh; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    text-align: left; 
    position: relative; 
    padding-top: 80px; 
    padding-left: 80px; 
}

.showcase::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #0004, #0000); 
}
.showcase h1 {
    position: relative;
    color: #fff;
    font-size: 4em;
    z-index: 10;
}

.showcase p {
    position: relative;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 2em;
    z-index: 10;
}

.showcase .btn {
    position: relative;
    background-color: #1ED760;
    color: #000;
    padding: 1em 2em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px; 
    z-index: 10;
    transition: background-color 0.3s ease;
}

.showcase .btn:hover {
    background-color: #fff; 
}

.showcase-content {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.868);
    padding: 40px;
} 

/* Statistics section styles */
.combined-section {
    background-color: #000; 
    padding: 70px 0px;
}

.text-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Spacing between text and image sections */
}

.statistics-section {
    flex: 1;
    padding-right: 20px;
}

.statistics-section h2 {
    font-size: 2em;
    color: #1DB954; 
    font-size: 40px;
    padding-left: 100px;
    padding-right: 50px;
}

.questions-content {
    flex: 1;
    padding-left: 20px;
    font-size: 22px;
}

.questions-content .question,
.questions-content .comment {
    font-size: 1em;
    color: #fff; 
    margin-bottom: 1em;
}

.questions-content .comment {
    font-style: italic;
    color: #1DB954;     
}

.image-section {
    text-align: center; /* Center the image */
}

.image-section img {
    max-width: 25%; /* Adjust the size of the image to be smaller */
    height: auto;
    background-color: #000; /* Black background for the image specifically */
}

/* General Section Styles */
.section-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed for spacing */
    align-items: center; /* Aligns items vertically */
    padding: 50px 0; /* Add padding on the top and bottom */
}

/* How This Works Section Styles */
.how-this-works {
    flex: 2; 
    align-items: flex-start;
    padding-right: 10px; /* Space between the text and the image */
}

.how-this-works h2 {
    color: #1DB954; 
    padding-left: 300px;
    font-size: 40px;
}

.how-this-works ul {
    list-style-type: none; 
    padding: 0; 
    padding-top: 20px;
    color: #000; 
    font-size: 22px;
    padding-left: 300px;
}

.how-this-works ul li {
    padding-bottom: 20px; /* Space between list items */
}

.how-this-works ul li i {
    margin-right: 30px; 
}

/* Image Section Styles */
.image-right {
    flex: 1.5; 
    padding-right: 50px;
}

.image-right img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    
}

/* Steps to Follow Styles */
.features {
    display: flex; 
    justify-content: space-between; /* Spaces the articles evenly */
    align-items: flex-start; /* Aligns articles at their top edge */
    gap: 20px; /* Adds space between each article */
    padding: 20px 0; /* Adds padding around the entire features container */
}

.features article {
    flex: 1; /* Each article takes equal width */
    display: flex; /* Enables Flexbox layout within each article */
    flex-direction: column; /* Stacks the image and the inner content vertically */
    align-items: center; /* Centers the content horizontally */
    text-align: center; /* Centers the text */
}

.features .image img {
    width: 100%; /* Makes images responsive */
    max-width: 300px; 
    height: auto; 
    margin-bottom: 15px; 
}

.features .inner {
    padding: 10px; /* Adds padding inside the inner content area */
}

.features .inner h4 {
    font-size: 40px;
    padding-top: 10px;
}

.features .inner p {
    font-size: 25px;
    color: #000; 
    padding-top: 40px;
}

.features i {
    color: #1DB954;
    font-size: 3em;
}

/* Let's Get Your Songs section styles */
.search {
    background-color: #000; /* Black background */
    padding-left: 20px; /* Left padding */
    color: #fff; /* White text color for better contrast against the black background */
    padding: 30px 30px; /* Adjust padding around the section for spacing */
    text-align: center;
}

.search h2 {
    color: #1ED760; 
    margin-bottom: 20px; /* Space below the heading */
}

.search input[type="search"] {
    padding: 10px; /* Padding inside the search box */
    margin-right: 10px; /* Space between the search box and the button */
    border: none; /* Remove the default border */
    font-size: 16px; /* Font size for the text inside the search box */
    color: #333; /* Dark text color for visibility */
    background-color: #fff; /* White background for the input field */
}

.search button {
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove the default border */
    background-color: #1ED760; 
    color: #fff; /* White text color */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    font-size: 16px; /* Font size for the button text */
}

.search button:hover {
    background-color: #17c950; /* Slightly different shade of green for hover effect */
}

/* Floating Button Style */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1DB954;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

.floating-btn:hover {
    background-color: #17a64a; /* Darker shade for hover */
}

/* Recommendation Popup Styles */
.recommendation-popup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px 30px;
    border: 1px solid #888;
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content */
    text-align: center;
    font-size: 40px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Team Member's Github Icons and Recommendations Buttons */
.member-list {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 90px; 
    margin-bottom: 20px; 
}

.member {
    display: flex;
    flex-direction: column; /* Stack the icon and button vertically */
    align-items: center; /* Center items vertically within each member */
    gap: 20px;
}

.member i.fa-brands {
    font-size: 100px;
    padding-top: 30px;
}

.btn-list {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
    padding: 12px 24px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
    font-size: 20px;
}

.btn-list:hover {
    background-color: #45a049; 
}

.fa-brands {
    font-size: 30px; 
    color: #333; 
}

/* Table */
.table, .table-list, .table-top{
    width: 100%;
    margin-top: 1.5rem;
    border-collapse: collapse;
    border-spacing: 0;
}
.table thead th, .table-list thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td, .table-list tbody tr td, .table-top tbody tr td {
    background-color: #1ED760;
    padding: 0.8rem 1.2rem;
    text-align: center;
    color: #fff;
}

/* title column alignment to left */
.table tbody tr td:nth-child(2) {
    text-align: left;
}

.table-title {
    font-size:2rem;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: left;
}

/* Footer */
footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #141414;
    height: 190px;
    padding: 20px 50px;
    flex-direction: column;
}

footer .icons,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icons li,
footer .menu li {
    list-style: none;
}

footer .icons li a {
    font-size: 2em;
    color: #1ED760;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .icons li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2 rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
}

footer .menu li a:hover {
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1em;
    opacity: 0.75;
}

/* Media Queries */
@media (max-width: 991px) {
    .container {
        padding: 20px;
    }

    .hamburger-menu {
        display: block; /* Show hamburger menu */
        cursor: pointer;
      }
    
      .nav-menu {
        position: absolute;
        right: 0;
        top: 60px; /* Position below the navbar */
        flex-direction: column; /* Stack the links vertically */
        background-color: #000; 
        width: 100%; /* Full width */
        display: none; /* Hide by default */
      }
    
      .nav-menu.active {
        display: flex; 
      }
}

@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        margin: 10px 0;
    }
    .showcase {
        padding: 80px 20px;
    }
    .showcase h1 {
        font-size: 2rem;
    }

    .statistics-section {
        flex-direction: column;
    }

    .statistics-content, .questions-content {
        margin: 20px 0; 
    }
}



